@import url('https://fonts.cdnfonts.com/css/helmet');
@import url('https://fonts.cdnfonts.com/css/menlo');

/* General settings */
* {
	font-family: 'Helvetica', sans-serif;
	font-weight: 100;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	background-color: #f7f7f7;
	color: #070707;
	padding: 25px;
}

p {
	margin-bottom: 10px;
}

ol, ul {
	margin-left: 25px;
}

li {
	margin-bottom: 10px;
}

a {
	color: #070707;
	text-decoration-thickness: 0.5px;
}

/* Layout */
.layout-column {
	float: left;
	width: 50%;
	padding: 15px;
}
  
.layout-row:after {
	content: "";
	display: table;
	clear: both;
}
  
@media screen and (max-width: 600px) {
	.layout-column {
		width: 100%;
	}
}


/* Left column */
.title {
	display: inline-block;
	font-size: 48px;
	font-weight: normal;
	margin-bottom: 15px;
	background-color: #070707;
	color: #f7f7f7;
}
.subtitle {
	display: block;
	font-size: 18px;
	margin-bottom: 6px;
}
.title-section {
	margin-bottom: 25px;
}

/* Right column */

#collapsibles-buttons {
	text-align: right;
}

#collapse-all-button, #expand-all-button {
	background-color: #f7f7f7;
	color: #070707;
	cursor: pointer;
	padding: 10px;
	border: none;
	text-align: right;
	outline: none;
	font-size: 1em;
}


.collapsible {
	background-color: #f7f7f7;
	color: #070707;
	cursor: pointer;
	padding: 25px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 24px;
	font-weight: normal;
}
  
.collapsible:after {
	content: '\002B';
	color: #070707;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
  
.active:after {
	content: "\2212";
}
  
.content {
	padding: 0 25px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.horizontal-line {
	border-bottom: 1px solid #070707;
}

.spacer {
	display: block;
	height: 25px;
}


/* Publications */

.publication-title {
	display: block;
	font-weight: bold;
	margin-bottom: 4px;
}

.publication-authors {
	display: block;
	margin-bottom: 4px;
}
.publication-info {
	display: block;
	font-style: italic;
}


/* Teaching */

.teaching-title {
	display: block;
	font-weight: bold;
	margin-bottom: 4px;
}

.teaching-semester {
	display: block;
	margin-bottom: 4px;
}
.teaching-info {
	display: block;
	font-style: italic;
}


/* Education */

.education-title {
	display: block;
	font-weight: bold;
	margin-bottom: 4px;
}
.education-place {
	display: block;
	margin-bottom: 4px;
	font-style: italic;
}
.education-info {
	display: block;
}


/* Work */
.work-title {
	display: block;
	font-weight: bold;
	margin-bottom: 4px;
}
.work-place {
	display: block;
	margin-bottom: 4px;
	font-style: italic;
}
.work-info {
	display: block;
}